@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: fantasy;
  text-decoration: overline black;
  
  opacity: 0;
}

.btn:hover {
  box-shadow: none;
}

i {
  border: none  rgb(7, 7, 7);
  border-radius: 0;
  color: white;

  opacity: 1;
}
i:hover {
  box-shadow: none ;
  color: rgb(177, 74, 74);
}
.info-side > a i {
    margin: 2em 10px;
    padding: 10px;
  }

.card-title{
  background-color: rgba(54, 49, 49, 0.256);
}


@keyframes socialIcons {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

